{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="content center">
        <form action="" role="form" class="form form-horizontal validate-form change_form" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="center">
                <h3>Change Password</h3><hr>

                {% for field in form %}
                    <div class="col m12 s12">
                        <div class="input-field {% if field.errors %}invalid{% endif %}">
                            <div class="col m4 s4">
                                <div class="row">
                                    {{ field }}
                                    <label for="{{ field.auto_id }}">
                                        {{ field.label }}
                                    </label>
                                </div>
                                {% include 'base.forms.errors.html' with form_errors=field.errors col_title_error='col s2' col_msg_error='col s10' %}
                            </div>
                        </div>
                    </div><br><br><br>
                {% endfor %}

                 <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn waves-effect teal">Change</button>
                 </div>
            </div>
        </form>
    </div>
{% endblock content %}