{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Password Forgot{% endblock %}
{% block content %}
    <div class="center">
        <h1>Info</h1><hr>
        <p>
            The information to retrieve the <b> password </b> was sent to the <b> email </b> provided.
        </p>
    </div>
    <a type="button" class="btn waves-effect teal" href="{% url 'base:home'%}">Back</a>
{% endblock %}