{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Password Recover{% endblock %}
{% block content %}
    <div class="center">
        <h1>Confirm Password</h1><hr>
        <form method="post">
            {% csrf_token %}
            <ul>
                <li class = "text-left"> Your password can not be so similar to your other personal information. </li>
                <li class = "text-left"> Your password must contain at least 8 characters. </li>
                <li class = "text-left"> The password can not be a commonly used password. </li>
                <li class = "text-left"> Your password can not be completely numeric. </li>
            </ul><br>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="input-field {% if form.new_password1.errors %}invalid{% endif %}">
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.auto_id }}">
                        {{ form.new_password1.label }}
                    </label>
                    {% include 'base.forms.errors.html' with form_errors=form.new_password1.errors col_title_error='col s2' col_msg_error='col s10' %}
                </div>
            </div><br><br><br>
          
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="input-field {% if form.new_password2.errors %}invalid{% endif %}">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.auto_id }}">
                        {{ form.new_password2.label }}
                    </label>
                    {% include 'base.forms.errors.html' with form_errors=form.new_password2.errors col_title_error='col s2' col_msg_error='col s10' %}
                </div>
            </div><br><br><br>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button type="submit" class="btn waves-effect teal">Confirm</button>
            </div>
        </form>
    </div>
{% endblock %}