{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block content %}
  <div class="center">
    <h1>Register</h1><hr>
    <form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
      <div class="col m12 s12">
        <div class="input-field {% if form.username.errors %}invalid{% endif %}">
          <div class="col m4 s4">
            {{ form.username }}
            <label for="{{ form.username.auto_id }}">
              {{ form.username.label }}
            </label>
            {% include 'base.forms.errors.html' with form_errors=form.username.errors col_title_error='col s2' col_msg_error='col s10' %}
          </div>
          
        </div>
      </div><br><br><br>
      
       <div class="col m12 s12">
        <div class="input-field {% if form.password1.errors %}invalid{% endif %}">
          <div class="col m4 s4">
            {{ form.password1 }}
            <label for="{{ form.password1.auto_id }}">
              {{ form.password1.label }}
            </label>
            {% include 'base.forms.errors.html' with form_errors=form.password1.errors col_title_error='col s2' col_msg_error='col s10' %}
          </div>
          
        </div>
      </div><br><br><br>
      
      <div class="col m12 s12">
        <div class="input-field {% if form.password2.errors %}invalid{% endif %}">
          <div class="col m4 s4">
            {{ form.password2 }}
            <label for="{{ form.password2.auto_id }}">
              {{ form.password2.label }}
            </label>
            {% include 'base.forms.errors.html' with form_errors=form.password2.errors col_title_error='col s2' col_msg_error='col s10' %}
          </div>
          
        </div>
      </div><br><br><br>
          
      <div class="col m12 s12">
        <div class="input-field {% if form.first_name.errors %}invalid{% endif %}">
          <div class="col m4 s4">
            {{ form.first_name }}
            <label for="{{ form.first_name.auto_id }}">
              {{ form.first_name.label }}
            </label>
            {% include 'base.forms.errors.html' with form_errors=form.first_name.errors col_title_error='col s2' col_msg_error='col s10' %}
          </div>
          
        </div>
      </div><br><br><br>
      
      <div class="col m12 s12">
        <div class="input-field {% if form.last_name.errors %}invalid{% endif %}">
          <div class="col m4 s4">
            {{ form.last_name }}
            <label for="{{ form.last_name.auto_id }}">
              {{ form.last_name.label }}
            </label>
            {% include 'base.forms.errors.html' with form_errors=form.last_name.errors col_title_error='col s2' col_msg_error='col s10' %}
          </div>
          
        </div>
      </div><br><br><br>
          
      <div class="col m12 s12">
        <div class="input-field {% if form.email.errors %}invalid{% endif %}">
          <div class="col m4 s4">
            {{ form.email }}
            <label for="{{ form.email.auto_id }}">
              {{ form.email.label }}
            </label>
            {% include 'base.forms.errors.html' with form_errors=form.email.errors col_title_error='col s2' col_msg_error='col s10' %}
          </div>
          
        </div>
      </div><br><br><br>

      <div class="col m12 s12">
         <a type="button" class="btn waves-effect teal" href="{% url 'base:home' %}">Back</a>
         <button type="submit" class="btn waves-effect teal">Register</button>
      </div>
    </form>
  </div>
  <br />
{% endblock %}

{% block extraJs %}
<script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15,
    format: 'dd/mm/yyyy'
  });
</script>
{%endblock%}