{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="content center">
    <form id="form" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div class="input-field {% if form.username.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">account_circle</i>
            {{ form.username }}
            <label for="icon_prefix {{ form.username.auto_id }}">Username</label>
            {% include 'base.forms.errors.html' with form_errors=form.username.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>
        
        <div class="input-field {% if form.username.errors %}invalid{% endif %}">
            <i class="tiny material-icons prefix">lock</i>
            {{ form.password }}
            <label for="icon_prefix {{ form.password.auto_id }}">Password</label>
            {% include 'base.forms.errors.html' with form_errors=form.username.errors col_title_error='col s2' col_msg_error='col s10' %}
        </div>
        
        <div class="row">
            <a href="{% url 'users:register' %}" style="cursor: pointer">Register</a> | 
            <a href="{% url 'users:forgot' %}" style="cursor: pointer">Forgot Password?</a>
        </div>
        
        <div class="row">
            <p class="center">
                {{form.remember_me}}
                <label for="id_remember_me">{{form.remember_me.label}}</label>
            </p>
        </div>
        <div>
            <button type="submit" class="btn waves-effect teal">Login</button>
        </div>
        </div>
    </form>
</div>
{% endblock %}