{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Password Forgot{% endblock %}
{% block content %}
    <div class="row text-center">
        <h1>Success</h1><hr>
        <p>
          Your password was changed successfully
        </p><br>
    </div>
    <a type="button" class="btn waves-effect teal" href="{% url 'base:home'%}">Back</a>
{% endblock %}