<nav class="teal">
  <div class="nav-wrapper">
    <a class="brand-logo" href="{% url 'base:home' %}">Chat Room Bot</a>
    {% if request.user.is_authenticated %}
    <a href="#" data-activates="slide-out" class="button-collapse white-text"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!" class="dropdown-button" data-activates="dropdown1" data-beloworigin="true">Welcome <b>{{request.user.username}}</b> <i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id='dropdown1' class='dropdown-content' data-belloworigin="true">
        <li><a href="{% url 'chat:chat_list' %}">Chat</a></li>
        <li><a href="{% url 'users:change_pass' %}">Change Password</a></li>
        <li><a href="{% url 'users:logout' %}">Logout</a></li>
      </ul>
    </ul>
    {% else %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Welcome <b>Anonymous</b></a></li>
      </ul>
    {% endif %}
  </div>
</nav>
