{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="center">
        <p>Welcome to realtime <b> Chatroom </b></p>
    </div>
{% endblock %}