{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Chat{% endblock %}
{% block content %}
    <div class="row">
      <div class="col m2">
        <div class="row center">Users</div><hr/>
        {% for user in users %}
          <div class="row">
            <a href="#">
              {{user.user.username}}
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="col m10">
        <div class="row center">Chat</div><hr/>
        <div class="chat-log">
        </div>
        <div class="chat-box">
          <div class="col m10">
            <div class="input-field {% if form.comment.errors %}invalid{% endif %}">
                  {{ form.comment }}
                  <label for="icon_prefix {{ form.comment.auto_id }}">Message</label>
                  {% include 'base.forms.errors.html' with form_errors=form.comment.errors col_title_error='col s2' col_msg_error='col s10' %}
              </div>
          </div>
          <div class="col m2">
            <button class="btn-floating btn-large" id="send" onclick="testMsg()">
              <i class="tiny material-icons prefix">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block extraJs %}
<script>
  const room_id = "{{ room_id }}";
  var chatSocket = new WebSocket(
    'ws://' + window.location.host +
    '/chat/' + room_id);

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);

    var send = data.seen ? 'done_all' :'done';
    if(data.fk_user_emit=="{{user.id}}")
    {
      var position = "sended right";
      send = 'done_all';
    }
    else{
      var position = "recived left";
    }
    var html = '<div class="row">';
    html += '<div class="'+position+'">'+data.comment;
    html += '<br/><i class="tiny material-icons prefix">'+send+'</i> | ';
    html += '<small>'+ data.fk_user_emit +'</small> |';
    html += '<small>'+ data.date +'</small></div>';
    html += '</div>';
    $('.chat-log').append(html);
    //$('.chat-log').scrollTop($('.chat-log').scrollTop()+100)
  };

  chatSocket.onopen = function(e) {
    console.info('Chat socket conected');
  };

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };

  function testMsg(){
    var token = $('input').val()
    var comment = $('#id_comment').val();
    if (comment!=''){
      sendMessage('{{user.id}}',comment,room_id)
      $('#id_comment').val('')
    }
  }
  document.querySelector('#id_comment').onkeyup = function(e) {
    if (e.keyCode === 13) {
      document.querySelector('#send').click();
    }
  };

  $(document).ready(function(){
    get_comment(room_id,'{{user.id}}');
  });
</script>
{%endblock%}
