{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Chat Rooms{% endblock %}
{% block content %}
  <a 
    class="btn-floating btn-large waves-effect waves-light teal right"
    href="{% url 'chat:room_create' %}"
  >
    <i class="material-icons">add</i>
  </a>
  <h1>Chat Rooms</h1> 
  <div class="row">
  {% for chat_room in object_list %}
    <div class="col m6">
      <div class="card">
        <div class="card-content">
            <span class="card-title"><b>Chat Room Name: </b>{{ chat_room.name }}</span>
        </div>
        <div class="card-action">
            <a type="button" class="btn waves-effect teal" href="{% url 'chat:chat' chat_room.pk %}">
              <i class="material-icons left">arrow_forward_ios</i> Enter
            </a>
        </div>
      </div>
    </div>
  {% empty %}
      <h4>No chat room created.</h4>
  {% endfor %}
  </div>
  {% include 'base.paginator.html' with paginator=page_obj %}
{% endblock %}