{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add Room{% endblock %}
{% block content %}
  <div class="center">
    <h1>Add Room</h1><hr>
    <form action="{% url 'chat:room_create' %}" method="post">
    {% csrf_token %}
      <div class="col m12 s12">
        <div class="input-field {% if form.name.errors %}invalid{% endif %}">
          <div class="col m4 s4">
            {{ form.name }}
            <label for="{{ form.name.auto_id }}">
              {{ form.name.label }}
            </label>
            {% include 'base.forms.errors.html' with form_errors=form.name.errors col_title_error='col s2' col_msg_error='col s10' %}
          </div>
          
        </div>
      </div><br><br><br>

      <div class="col m12 s12">
        <a type="button" class="btn waves-effect teal" href="{% url 'base:home' %}">Back</a>
        <button type="submit" class="btn waves-effect teal">Register</button>
      </div>
    </form>
  </div>
{% endblock %}